**/.vs/**
output/**
src/**/obj/**
src/**/bin/**
src/Packages/**
src/cucumber/lib/*.dll

*.suo
*.user

src/TestResults/**
src/CucumberUnitTests/**/*.feature.cs
#*.csv
#*.trx
/src/BatchPortal/logs
/src/BatchPortal/wwwroot/app
DBScripts_*.zip

.idea/

# .NET build output
**/bin/
**/obj/
