akka {
  actor.provider = cluster

  remote.dot-netty.tcp {
    hostname = "0.0.0.0"
    port = 4053
  }

  discovery {
    method = aggregate
    aggregate.discovery-methods = [kubernetes-api, config]

    kubernetes-api {
      class = "Akka.Discovery.KubernetesApi.KubernetesApiServiceDiscovery, Akka.Discovery.KubernetesApi"
      pod-namespace = "ppm-cpe-qa"
      pod-label-selector = "cluster=nucleus-rule-services"
    }

    config {
      class = "Akka.Discovery.Config.ConfigServiceDiscovery, Akka.Discovery"
      services {}
    }
  }

  cluster.bootstrap.contact-point-discovery {
    service-name = "nucleus-rule-services"
    required-contact-point-nr = 3
  }

  cluster {
    downing-provider-class = "Akka.Cluster.SBR.SplitBrainResolverProvider, Akka.Cluster"
    split-brain-resolver {
      active-strategy = keep-majority
      stable-after = 20s
      down-all-when-unstable = on
    }
  }
}

petabridge.cmd {
  host = "0.0.0.0"
  port = 9110
  log-info = on
}