akka {
  actor.provider = cluster

  remote.dot-netty.tcp {
    hostname = "0.0.0.0"
    port = 4053
  }
  
  loglevel = DEBUG
  stdout-loglevel = DEBUG

  io.dns {
    resolver = async-dns
    async-dns {
      class = "Akka.Discovery.Dns.Internal.DnsClient, Akka.Discovery.Dns"
      provider-object = "Akka.Discovery.Dns.Internal.AsyncDnsProvider, Akka.Discovery.Dns"
      nameservers = []
      cache-cleanup-interval = 120s
      positive-ttl = forever
    }
  }

  discovery {
    method = aggregate
    aggregate.discovery-methods = [akka-dns, kubernetes-api, config]

    akka-dns {
      class = "Akka.Discovery.Dns.DnsServiceDiscovery, Akka.Discovery.Dns"
      resolve-timeout = 5s
      verbose-failure-logging = on
    }

    kubernetes-api {
      class = "Akka.Discovery.KubernetesApi.KubernetesApiServiceDiscovery, Akka.Discovery.KubernetesApi"
      api-ca-path = "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
      api-token-path = "/var/run/secrets/kubernetes.io/serviceaccount/token"
      api-service-host-env-name = "KUBERNETES_SERVICE_HOST"
      api-service-port-env-name = "KUBERNETES_SERVICE_PORT"
      pod-namespace-path = "/var/run/secrets/kubernetes.io/serviceaccount/namespace"
      pod-namespace = "ppm-cpe-qa"
      pod-domain = "cluster.local"
      pod-label-selector = "cluster=nucleus-rule-services"
      use-raw-ip = true
      container-name = ""
    }

    config {
      class = "Akka.Discovery.Config.ConfigServiceDiscovery, Akka.Discovery"
      services {}
    }
  }

  cluster.bootstrap.contact-point-discovery {
    service-name = "nucleus-rule-services"
    service-namespace = "ppm-cpe-qa.svc.cluster.local"
    port-name = "management"
    protocol = "tcp"
    required-contact-point-nr = 3
  }

  cluster {
    log-info = on
    downing-provider-class = "Akka.Cluster.SBR.SplitBrainResolverProvider, Akka.Cluster"
    split-brain-resolver {
      active-strategy = keep-majority
      stable-after = 20s
      down-all-when-unstable = on
    }
  }
}

petabridge.cmd {
  host = "0.0.0.0"
  port = 9110
  log-info = on
}