akka {
  actor.provider = cluster

  remote.dot-netty.tcp {
    hostname = "0.0.0.0"
    port = 4054
  }

  discovery {
    method = kubernetes-api

    kubernetes-api {
      class = "Akka.Discovery.KubernetesApi.KubernetesApiServiceDiscovery, Akka.Discovery.KubernetesApi"
      pod-namespace = "ppm-cpe-qa"
    }
  }

  cluster.bootstrap.contact-point-discovery {
    service-name = "nucleus-rule-services"
    discovery-method = kubernetes-api
    required-contact-point-nr = 3
  }

  cluster {
    downing-provider-class = "Akka.Cluster.SBR.SplitBrainResolverProvider, Akka.Cluster"
    split-brain-resolver {
      active-strategy = keep-majority
      stable-after = 20s
      down-all-when-unstable = on
    }
  }
}

petabridge.cmd {
  host = "0.0.0.0"
  port = 9111
  log-info = on
}